/* fix issue with container boarder crossing label text */
#sf_admin_container,
#sf_admin_container .sf_admin_form_row
{
  overflow: hidden;
}
/* display actions list in block */
#sf_admin_container ul.sf_admin_td_actions li {
  display: block;
}
/* more widget for label column */
#sf_admin_container label {
  width: 14em;
}

/* comments */
a, span.link
{
  color: #524F46;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover, span.link:hover {
  color: black;
}